body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    box-sizing: border-box;
}

.output {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.output > #ans{
    overflow: auto;
}

hr{
    border: none;
    border-top: 1px solid #00002c;
}

.histo {
    position: relative;
}

.histoTitle {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #6da9d8;
    color: #202020 !important;
}

#clearHistoryBtn{
    cursor: pointer;
    visibility: hidden;
    background-color: #202020;
    border-radius: 5px;
    font-weight: 100;
    padding: 5px;
    color: white;
}
#clearHistoryBtn:hover{
    color: red;
}

.histoTitle img {
    width: 25px;
    border-radius: 5px;
}

.histoTitle img:hover {
    filter: invert(1);
    cursor: pointer;
}

.histoTitle>span {
    font-size: 1.5em;
}

.histoBox {
    background-color: #6da9d8;
    width: fit-content;
    padding: 0;
    margin: 5px;
    right: 10px;
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
    display: none;
}

.histoList {
    overflow:scroll;
    margin: 0;
    max-height: 120px;
    max-width: 288px;
    padding: 5px;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 0.9em;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #6da9d8;
    /* its used for give margin from top and bottom */
    margin-block: 10px;
    margin-inline: 10px;
    border-radius: 100vw;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #00002c;
    /* background: orange; */
    border-radius: 100vw;
}

p {
    text-align: right;
    padding: 10px;
    margin: 10px 10px 0 10px;
    font-size: 2.8em;
    font-weight: 600;
}

.main {
    width: 320px;
    height: 432px;
    background-color: #202020;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow: hidden;
}

.input {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 77px);
    grid-template-rows: repeat(5, 52px);
    border-radius: 10px;
}

.btnBox {
    display: flex;
    justify-content: center;
    margin: 1px;
    border: none;
    border-radius: 5px;
    color: white;
    align-items: center;
    font-size: 1em;
    background-color: #3c3c3c;
    cursor: pointer;
}

.equal-color {
    background-color: #6da9d8;
    color: black;
}

.btnBox:hover {
    background-color: rgb(0, 80, 145);
}

.btnBox:active{
    background-color: rgba(0, 80, 145, 0.545);
}

.btl-5 {
    border-top-left-radius: 9px;
}

.btr-5 {
    border-top-right-radius: 9px;
}

.bbl-5 {
    border-bottom-left-radius: 9px;
}

.bbr-5 {
    border-bottom-right-radius: 9px;
}

.colorOg {
    color: orange;
}

.colorBk {
    background-color: #323232;
}

.flex-center{
    display: flex;
    gap: 8px;
    align-items: center;
}

.visible{
    display: block;
}